h1{
  font-weight: bold;
  color: green;
}

h2{
  color: blue;
}

h3{
  color: orange;
}

span{
  font-weight: bold;
}

table, th, td{
  color: white;
  border: 1px solid white;
  border-collapse: collapse;
}

th,td{
  font-size: 24px;
  background-color: #a8fcfb;
}

.center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
